%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .collapse.navbar-collapse
    .navbar-nav  
      = link_to t('header.mainpage'), root_path, class: 'navbar-brand'
      = link_to t('header.new_task'), new_user_tasks_path, class: 'nav-item nav-link'
      = link_to t('header.myprofile'), edit_user_profile_path, class: 'nav-item nav-link'
      %ul.navbar-num
  %div{style: 'color: white', class: 'ml-2 mr-2'}= current_user.first_name 
  %div= link_to t('header.logout'), user_sessions_path, method: :delete, class: 'btn btn-outline-secondary btn-sm ml-2 mr-2'