= simple_form_for @district, url: admin_districts_path do |f|
    = f.input :name
    = f.association :city, include_blank: true
    = f.button :submit, class: 'btn btn-info'
    = link_to t('.cancel'), admin_districts_path, class: 'btn btn-outline-secondary'