= simple_form_for @company, url: admin_company_path(@company.id) do |f|
  = f.input :name
  = f.association :city
  = f.association :district
  = f.input :address
  = f.association :service
  = f.input :email_registration
  = f.input :email_notification
  = f.input :phone
  = f.button :submit, class: "btn btn-secondary"
  = link_to t('.cancel'), admin_companies_path, class: 'btn btn-outline-secondary'
