
%a.pull-right
  %h1= t('companies')
  %table.table.table-striped.table-hover
    %th= Company.human_attribute_name(:id)
    %th= Company.human_attribute_name(:name)
    %th= Company.human_attribute_name(:full_address)
    %th= Company.human_attribute_name(:email_registration)
    %th= Company.human_attribute_name(:email_notification)
    %th= Company.human_attribute_name(:phone)
    %th= Company.human_attribute_name(:state)
    %th{:colspan => "2"}= t('.control')
  - @companies.each do |company|
    %tr
      %td= link_to company.id, admin_company_path(company.id), target: :_blank
      %td= company.name

      %td= company.email_registration
      %td= company.email_registration
      %td= company.phone
      %td= company.human_state_name
