%a.pull-right
  %h1= t('companies')
    
-# %a.btn.btn-primary{"aria-controls" => "search_form", "aria-expanded" => "false", "data-toggle" => "collapse", href: "#search_form", role: "button"} 
-#   Поиск

-# %div{class: "collapse", id: "search_form"}
= render 'search_form'


%div{class: 'text-right'}
  %td= link_to t('.add_сompanies'), new_admin_company_path, class: 'btn btn-outline-secondary m-2'
%table.table.table-striped.table-hover
  %tr
    %th= Company.human_attribute_name(:id)
    %th= Company.human_attribute_name(:name)
    %th= Company.human_attribute_name(:city)
    %th= Company.human_attribute_name(:district)
    %th= Company.human_attribute_name(:address)
    %th= Company.human_attribute_name(:email_notification)
    %th= Company.human_attribute_name(:phone)
    %th= Company.human_attribute_name(:state)
    %th{:colspan => "2"}= t('.control')
  - @companies.each do |company|
    %tr
      %td= company.id
      %td= link_to company.name, admin_company_path(company.id), target: :_blank, class: 'btn btn-outline-secondary btn-sm'
      %td= company.city.name
      %td= company.district.name
      %td= company.address
      %td= company.email_notification
      %td= company.phone
      %td= company.human_state_name
      %td= link_to t('.edit'), edit_admin_company_path(company.id), class: 'btn btn-info btn-sm'
      -if company.can_del?
        %td= link_to t('.delete'), admin_company_del_path(company.id), method: :put, data: { confirm: t('are_you_sure?') }, class: 'btn btn-danger btn-sm'
      -if company.can_restore?
        %td= link_to t('.restore'), admin_company_restore_path(company.id), method: :put, data: { confirm: t('are_you_sure?') }, class: 'btn btn-success btn-sm'
%div{class: 'row justify-content-md-center'}
  = will_paginate @companies, renderer: WillPaginate::ActionView::BootstrapLinkRenderer