= simple_form_for @company, url: admin_companies_path do |f|
  = f.input :name
  = f.association :city, include_blank: true
  = f.association :district, include_blank: true
  = f.input :address
  = f.association :service, include_blank: true
  = f.input :email_registration
  = f.input :email_notification
  = f.input :password
  = f.input :phone
  = f.button :submit, class: "btn btn-secondary"
  = link_to t('.cancel'), admin_companies_path, class: 'btn btn-outline-secondary'
