%h1= @company.name

%br
%b= @company.city
%b= @company.district
%b= @company.address
%b= @company.email_registration
%b= @company.email_registration
%b= @company.phone
%td= link_to t('.back'), admin_admins_path, class: 'btn btn-outline-secondary'
