%table.table.table-hover
  %tr.table-active
    %th Идентификатор
    %th Название организации
    %th Город
    %th Район
    %th Адрес
    %th E-mail для регистрации
    %th E-mail для отправки сообщений
    %th Телефон
    %th Пароль
    %th Управление

  - @companies.each do |company|
    %tr
      %td= link_to company.id, admin_company_path(company.id), target: :_blank
      %td= company.name
      %td= company.city
      %td= company.district
      %td= company.address
      %td= company.email_registration
      %td= company.email_registration
      %td= company.phone
      %td= company.password_digest
      %td= link_to 'Edit', edit_admin_company_path(company.id)

    