%table
  %tr
    %td Идентификатор
    %td Название организации
    %td Город
    %td Район
    %td Адрес
    %td E-mail для регистрации
    %td E-mail для отправки сообщений
    %td Телефон
    %td Пароль

  - @companies.each do |company|
    %tr
      %td= link_to company.id, admin_company_path(company.id), target: :_blank
      %td= company.name
      %td= company.city
      %td= company.district
      %td= company.address
      %td= company.email_registration
      %td= company.email_registration
      %td= company.phone
      %td= company.password_digest

    