= simple_form_for @task,html: { multipart: true } , url: admin_task_path(@task.id) do |f|
  = f.input :title
  = f.association :services, as: :check_boxes
  = f.association :user, label_method: :first_name, include_blank: false
  = f.association :city
  = f.association :district
  = f.input :description
  = f.input :address
  = f.input :images, as: :file, input_html: { multiple: true }
  = f.input :videos, as: :file, input_html: { multiple: true }
  = f.button :submit, class: "btn btn-secondary"
