= simple_form_for @task, url: admin_task_path(@task.id) do |f|
  = f.association :user, label_method: :first_name, include_blank: false
  = f.input :title
  = f.association :city
  = f.association :district
  = f.association :service
  = f.input :description
  = f.input :address
  = f.input :image, as: :file, multiple: true
  = f.button :submit, class: "btn btn-secondary"
