= link_to t('.add_task'), new_admin_task_path, class: 'btn btn-info'

%table.table.table-hover
  %tr
    %th= t('attributes.id')
    %th= Task.human_attribute_name('title')
    %th= Task.human_attribute_name('user')
    %th= Task.human_attribute_name('company')
    %th= Task.human_attribute_name('description')
    %th= Task.human_attribute_name('address')
    %th= Task.human_attribute_name('state')
    %th= t('attributes.control')
  - @tasks.each do |task|
    %tr
      %td= link_to task.id, admin_task_path(task.id), target: :_blank
      %td= task.title
      %td= task.user.first_name
      %td= task.company.name
      %td= task.description
      %td= task.address
      %td= task.human_state_name
      %td= link_to 'Редактировать', edit_admin_task_path(task.id)
