!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Соцхелпер
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}
    #root
    .container
      - if user_signed_in?
        = render 'layouts/web/user/header'
      - if admin_signed_in?
        = render 'layouts/web/admin/header'
      - if !(admin_signed_in? || user_signed_in?)
        = render 'layouts/header'
      = yield